dir
image
pdf
全员社保.pdf
bid.md
image_dir
source_dir
bid.docx
~$bid.docx
.vscode/launch.json
extract_individual_social_security/build/extract_individual_social_security
extract_individual_social_security/dist
md_dir_docx/build/md_dir_docx
md_dir_docx/dist
*.pdf
zhihuixietong_download/0misc
